bod
{

}

#logo
{
    width:100%;
    height:auto;
}

#navbar li
{
    padding:6px 2px 6px 16px;
}

    #navbar li:hover
    {
        background-color:gray;
    }

        #navbar li a
        {
            text-decoration:none;
            display: block;
        }

#projectassignmentsul li
{
    padding:0;
}

    #projectassignmentsul li:hover
    {
        background-color:gray;
    }

        #projectassignmentsul li a
        {
            text-decoration:none;
            padding:6px 2px 6px 16px;
            display: block;
        }

#assignmentcomponentul 
{
    display:inline-block;
    float:left;
    padding:0;
    margin-left:10px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
}

    #assignmentcomponentul li
    {
        padding:0;
        display: inline-block;
        margin-left:5px;
        border: thin solid gray;
    }

    #assignmentcomponentul li:hover
    {
        background-color:gray;
    }

        #assignmentcomponentul li a
        {
            text-decoration:none;
            display: block;
        }

.divComponent
{
    display: block;
}

    .divComponentBorder
    {
        border: thin solid black;
        display: inline-block;
        min-width:20%;
    }

        .divComponentLabel
        {
            display:inline-block;
            float:left;
            margin-top:5px;
            width:100%;
        }

        .divComponentLabel:hover
        {
            background-color:gray;
            
        }

            .ComponentLabels
            {
                display:inline-block;
                text-decoration:none;
                width:100%;
                height:100%;
            }

#groupmemberul
{
    width:auto;
}

    #groupmemberul li
    {
        width:15%;
        padding:0;
        display: inline-block;
    }

    #groupmemberul li:hover
    {
        background-color:gray;
    }

        #groupmemberul li a
        {
            text-decoration:none;
            padding:6px 2px 6px 16px;
            display: block;
        }